# URL Verification Report

## NADiff a/p/a/r/t
- URL: https://www.nadiff.com/
- Status: error
- Code: 0
- Detail: HTTPSConnectionPool(host='www.nadiff.com', port=443): Max retries exceeded with url: / (Caused by SSLError(SSLError(1, '[SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] ssl

## POST
- URL: https://post-books.info/
- Status: error
- Code: 0
- Detail: HTTPSConnectionPool(host='post-books.info', port=443): Max retries exceeded with url: / (Caused by SSLError(SSLCertVerificationError(1, "[SSL: CERTIFICATE_VERIF

## Creative Space Hayashi
- URL: https://csh.yokohama/
- Status: error
- Code: 0
- Detail: HTTPSConnectionPool(host='csh.yokohama', port=443): Max retries exceeded with url: / (Caused by NameResolutionError("HTTPSConnection(host='csh.yokohama', port=4

## The Container
- URL: https://www.the-container.com/
- Status: error
- Code: 0
- Detail: HTTPSConnectionPool(host='the-container.com', port=443): Max retries exceeded with url: / (Caused by SSLError(SSLCertVerificationError(1, "[SSL: CERTIFICATE_VER

## RAW TOKYO
- URL: https://rawtokyo.jp/
- Status: error
- Code: 0
- Detail: HTTPSConnectionPool(host='rawtokyo.jp', port=443): Max retries exceeded with url: / (Caused by SSLError(SSLCertVerificationError(1, "[SSL: CERTIFICATE_VERIFY_FA

## Self Publish, Be Happy
- URL: https://selfpublishbehappy.com/
- Status: error
- Code: 0
- Detail: HTTPSConnectionPool(host='selfpublishbehappy.com', port=443): Read timed out. (read timeout=10)

## Printed Matter Art Book Fairs
- URL: https://www.printedmatter.org/
- Status: bad
- Code: 403
- Detail: https://www.printedmatter.org/

## Home - Printed Matter
- URL: https://www.printedmatter.org/
- Status: bad
- Code: 403
- Detail: https://www.printedmatter.org/

## Browse Printed Matter Editions
- URL: https://www.printedmatter.org/catalog/category/15-pm-fundraising-editions
- Status: bad
- Code: 403
- Detail: https://www.printedmatter.org/catalog/category/15-pm-fundraising-editions

## Printed Matter, Inc.
- URL: https://www.printedmatter.org/
- Status: bad
- Code: 403
- Detail: https://www.printedmatter.org/

## Liam Campbell Elska Magazine No. 58 (Saskatchewan) Periodicals $22.00
- URL: https://www.printedmatter.org/catalog/71105
- Status: bad
- Code: 403
- Detail: https://www.printedmatter.org/catalog/71105

## Exhibition FLASHPOINT! PROTEST PHOTOGRAPHY IN PRINT READING ROOM March 12 - June 7, 2026
- URL: https://www.printedmatter.org/programs/events/2250
- Status: bad
- Code: 403
- Detail: https://www.printedmatter.org/programs/events/2250

## See all exhibitions
- URL: https://www.printedmatter.org/programs/1-exhibitions
- Status: bad
- Code: 403
- Detail: https://www.printedmatter.org/programs/1-exhibitions
