# URL Verification Report

## Event Fair On Fairs, with Cairo Art Book Fair, Hardcore CDMX Art Book Fair, Singapore Art 
- URL: https://www.printedmatter.org/programs/events/2282
- Status: bad
- Code: 403
- Detail: https://www.printedmatter.org/programs/events/2282
